@tailwind base;
@tailwind components;
@tailwind utilities;

@font-face {
  font-family: 'Pacifico';
  src: url('./assets/fonts/Pacifico.ttf') format('truetype');
  font-weight: normal;
  font-style: normal;
}
#root {
  max-width: 1280px;
  margin: 0 auto;
  padding: 2rem;
  padding-left: 22rem;
  padding-right: 22rem;
/*   text-align: center; */
}
.title{
  text-align: center;
}

.loginCard {
  /* width: auto; */
  height: 700px;
}


